<ion-header style="margin: 0% !important;">
  <ion-toolbar >
    <div class="contenedor">
        <ion-img class="logo-header-start" src="./assets/img/Logo-SoFi_Horizontal.png">
        </ion-img>
      <ion-img class="logo-header" src="./assets/img/moodlelogo.png">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <ion-title style="color:#01509f">EVENTOS</ion-title>
  <ion-searchbar ></ion-searchbar>
  <div *ngFor="let event of events" class="card-background-page">
      <ion-card>
        <img src="https://cdn.pixabay.com/photo/2018/08/09/09/50/democrats-3594094_960_720.jpg"/>
        <ion-icon name="golf-outline"  style="color:#01509f" ></ion-icon>
        <div class="card-title">{{event.name}}</div>
        <div class="card-subtitle">{{event.information}}</div>
      </ion-card>
    </div>
</ion-content>
