<ion-header style="margin: 0% !important;">
  <ion-toolbar >
    <div class="contenedor">
        <ion-img class="logo-header-start" src="./assets/img/Logo-SoFi_Horizontal.png">
        </ion-img>
      <ion-img class="logo-header" src="./assets/img/moodlelogo.png">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br/>
  <ion-title style="color:#01509f">EVENTOS</ion-title>
  <ion-searchbar ></ion-searchbar>

    <ion-list *ngFor="let event of events" class="list-event">
      <ion-item>
        <ion-avatar slot="start">
          <div *ngFor="let image of event.resources">
            <img width="80" height="80" [src]="image.url"> 
          </div>    
        </ion-avatar>
        <ion-label>
          <h2>{{event.name}}</h2>
          <h3>{{event.information}}</h3>
          <p>{{event.start_date}}</p>
        </ion-label>
      </ion-item>
      
    </ion-list>

</ion-content>
