<ion-header style="margin: 0% !important;">
  <ion-toolbar >
    <div class="contenedor">
        <ion-img class="logo-header-start" src="./assets/img/Logo-SoFi_Horizontal.png">
        </ion-img>
      <ion-img class="logo-header" src="./assets/img/moodlelogo.png">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-title style="color: aqua;">EVENTOS</ion-title>
  <ion-searchbar color="light"></ion-searchbar>
  <ion-card>
    <ion-list>
      <ion-card>
        <ion-card-title>Nombre del evento</ion-card-title>
        <ion-card-subtitle>Descripcion del evento</ion-card-subtitle>
      </ion-card>
    </ion-list>
  </ion-card>

</ion-content>
