<ion-header style="margin: 0% !important;">
  <ion-toolbar style="background-color: #01509F !important;">
    <div class="contenedor">
        <ion-img class="logo-header-start" src="./assets/img/Logo-SoFi-Transparente-Horiz.png">
        </ion-img>
      <ion-img class="logo-header" src="./assets/img/moodlelogo.png">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" >
    <h1 class="h1-title">¡Bienvenido!</h1>
    <br><br>
    <ion-searchbar color="light" style="margin-bottom: 8%;"></ion-searchbar>
    <ion-label class="label-subtitle">Artículos, temáticas, eventos.</ion-label>
    <br><br>
    <span class="divider line one-line">o</span>
    <input type="button" class="login-button" value="Inicia Sesión" routerLink="/login">
  </div>
<!--<ion-card>
  <ion-card-header>
    <h1>Bienvenido!</h1>
  </ion-card-header>
</ion-card>-->
</ion-content>
