<ion-header style="margin: 0% !important;">
  <ion-toolbar >
    <div class="contenedor">
        <ion-img class="logo-header-start" src="./assets/img/Logo-SoFi_Horizontal.png">
        </ion-img>
      <ion-img class="logo-header" src="./assets/img/moodlelogo.png">
      </ion-img>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content >
    <h1 class="title-article">{{article.title}}</h1>
    <h6 class="title-article">{{article.author}}</h6>
    <bar-rating [(rate)]="faRate"  [max]="5" [theme]="'stars'" ></bar-rating>
  <div [innerHTML]="article.content" class="content-article">
     
   </div>
</ion-content>
