.label-subtitle{
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-shadow: 2px 3px 2px #000;
    -webkit-text-stroke: 0.3px black;
}

.logo-header{
    margin-left: 20%;
    width: 30%;
}

.logo-header-start{
    align-items: flex-start;
    width: 40%;
}

.card-article{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    margin: 8%;
}
.toolbar{
    border-bottom: 2px solid #01509f;
    border-radius: 0 0 40px 40px;
}

.contenedor{
    display: flex;
    align-items: center;
    padding: 1%;
}

.logo-sofi{
    margin-top: 15%;
    width: 35%;
}

.title{
    color:#01509f;
    margin-left: 30%;
}
.title-sec{
    color:#01509f;
    margin-left: 10%;
}
.bt-prof{
    text-transform: capitalize;
    color: #01509f;
    font-weight: bold;
}
.img-user{
    margin-left: 15%;
    border-radius: 50%;
}
.grid-items{
    margin-left: 15%;
}
.bt-prof-img{
    margin-left: 70%;
    margin-top: -28px;
    color: #01509f;
}
.content-article{
    margin: 10%;
    text-align: justify;
    text-justify: inter-word;
}
.title-article{
    text-transform: uppercase;
    text-align: center;
}
.rating{
    margin-left: 30%;
}

.in-det{
    border-right: 1px solid #9d9a9a;
    border-bottom: 1px solid #9d9a9a;
    border-left: 1px solid #9d9a9a;
    width: 80%;
}
.card-cal{
    text-align: justify;
    text-justify: inter-word;
    padding : 10%;
}
.title-cal{
    font-size: 18px;
    font-weight: bold;
    color: #01509f;
}
.ico-but{
    color: white;
    margin-left: 40%
}
.ico-fav{
    font-size: 40px;
    color: #01509f;
}
.ico-fav-add{
    font-size: 40px;
    color: #01509f;
    background: #01509f;
}
#alert-input-1-0 {
    border: 1px solid #003264;
}
.alert-input-wrapper.sc-ion-alert-md{
    border: 1px solid #003264;
}